@font-face {
  font-family: 'Pacifico';
  src: url('../gfonts/Pacifico/Pacifico') format('ttf');
  font-weight: normal;
  font-style: normal;
}
body{
  margin:0;
  padding: 0;
  /*font-family: 'Pacifico', cursive;*/
}
nav ul li {
    padding: 0;
}
#nav-mobile li{
  padding: 0 !important;
}
#nav-mobile li:hover{
  background: transparent;
}
#nav-mobile li a:hover{
  border-width: 0;
  background: rgba(158,158,158, 0.2) !important;
  font-weight: 300;
  color: #444;
  padding-left: 15px;
}
#nav-mobile li a.active{
  border-color: #FF9800 !important;
  border-width: 3px;
  background: rgba(158,158,158, 0.2);
}
nav ul.lg-nav li{
  padding: 0;
  position: relative;
}
nav ul.lg-nav li a{
  display: inline-block;
  color: rgba(255,255,255,0.8);
  height: 61px;
  line-height: 56px;
}
nav ul.lg-nav li:hover{
  background: rgba(255, 224, 178, 0.3);
}
nav ul.lg-nav li a:hover, nav ul.lg-nav li a.active{
  border: none;
  color: #fff;
  /*overflow: visible;*/
}
nav ul.lg-nav li a:after{
  content: "";
  position: absolute;
  left: 0;top:calc(100% - 7.8px);
  height: 7px !important; width: 100%;
}
nav ul.lg-nav li a.active:after{
  border-bottom: 2px solid white;
}
#slideshow-container{
  width: 100%;
  overflow: auto;
}
@media (min-width: 900px) {
  #slideshow-container{
    overflow-x: hidden;
  }
}
#slideshow{
  width: 2433px;
}
#slideshow a{
  display: inline-block;
  width: 400px;
  position: relative;
  overflow: hidden;
  padding-bottom: 0 !important;
  background: #989898;
  margin:0;
  margin-left: 1px;
}
#slideshow a:hover:after{
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  opacity: 1;
}
#slideshow a:after{
  content: attr(data-caption);
  position: absolute;
  left: 0;bottom: 0;
  height: 50px;width: 100%;
  line-height: 50px;font-size: 20px;
  background: rgba(0,0,0,0.6);
  color: white;
  padding-left: 10px;
  opacity: 0;
  -webkit-transform: translate3d(0, 45%, 0);
  -ms-transform: translate3d(0, 45%, 0);
  -o-transform: translate3d(0, 45%, 0);
  transform: translate3d(0, 45%, 0);

  -webkit-transition: transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}
#slideshow img{
  width: 100%;
  margin-bottom: -8px;
  height: 300px !important;
}
.crown{
  background: transparent;
  margin-bottom: 250px;
  position: absolute !important;
  box-shadow: none;
}
#home{
  padding-top: 35px;
}
.crown #logo-container{
  opacity: 0;
}
.crown.visible{
  position: fixed !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  animation-name: fadeInDown;
  animation-duration: 0.45s;
}
.crown.visible #logo-container{
  opacity: 1;
}
#whereImg{
  background: url(../img/map.jpg);
  background-position:center;
  height: 520px; width: 100%;
  /*min-width:300px;*/
}
#where{
  height: 300px;
  text-align: center;
  padding-top: 20px;
}
@media (min-width: 600px) {
  #whereImg{
    box-shadow: 30px 30px 100px 1px rgba(0, 0, 0, 0.2);
  }
  #where{
    text-align: left;padding-left: 80px; padding-top: 60px;
  }
}
/*********************************
  END FLEX ALIGNMENT STUFF
*********************************/

  .layout-flex{
    display: -webkit-flex;
    display: flex;
  }
  .layout-flex.center-center{
    justify-content: center;
    align-items: center;
  }

  .layout-flex.as-row{
    flex-direction: row;
  }

  .layout-flex.as-column{
    flex-direction: column;
  }

  /*HORIZONTAL ALIGNMENT*/
  .layout-flex.h-start{
    justify-content:flex-start;
  }
  .layout-flex.h-end{
    justify-content:flex-end;
  }
  .layout-flex.h-space-between{
    justify-content:space-between;
  }
  .layout-flex.h-space-around{
    justify-content:space-around;
  }


  /*VERTICAL ALIGNMENT*/
  .layout-flex.v-center{
    align-items: center;
  }
  .layout-flex.v-start{
    align-items: flex-start;
  }
  .layout-flex.v-end{
    align-items: flex-end;
  }

  /*CHILD ALIGNMENT OVERRIDES*/

  /*VERTICAL ALIGNMENT*/
  .self-v-center{
    align-self: center;
  }
  .self-v-start{
    align-self: flex-start;
  }
  .self-v-end{
    align-self: flex-end;
  }

  /*HORIZONTAL ALIGNMENT*/
  .self-h-center{
    justify-self: center;
  }
  .self-h-start{
    justify-self: flex-start;
  }
  .self-h-end{
    justify-self: flex-end;
  }

  /*********************************
        END FLEX ALIGNMENT STUFF
    *********************************/

.full-screen{
  min-height: calc(100vh + 10px); width: 100%
}

@media (max-width: 900px) {
  .row{
    padding-top: 50px;
    padding-bottom: 50px
  }
}
.collection{
  border: none;
}
.collection-item{
  padding-left: 55px !important;
  border: none !important;
  background: transparent !important;
}
.collection-item > .zmdi{
  left: 0 !important;
  background: rgba(0,0,0,0.2) !important;
  color: white !important;
  font-size: 24px !important;
}
.collection-item p{
  line-height: 35px;
  font-size: 23px;
  color: #fff3E0 !important;
}
.collection-item.one-line p{
  line-height: 40px;
}

/*ANIMATIONS*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.circle{
  background: #fff !important;
}
