@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Choplin Light';
  src: url("../fonts/choplin/Choplin-ExtraLight.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'choplin';
  src: url('../fonts/choplin/Choplin-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brela';
  src: url('../fonts/brelaregular.otf');
  font-weight: normal;
  font-style: normal;
}

body{
  margin:0;
  padding: 0;
  font-family: "choplin";

  --app-primary-color: #000;
  --app-accent-color: #e91e63;

  /*--app-light-color: #f6f3eb;
  --app-primary-color: #0082ff;
  --app-accent-color: #fbbd0e;*/
}

.text-center{
  text-align: center;
}

.section-title{
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 0.7em;
    margin-bottom: 1.3em;
    font-size: 3em;
    font-family: "Choplin light", sans-serif;
    color: #000;
    text-align: center;
    font-weight: normal;
    position: relative;
    display: inline-block;
}

.section-title:after{
    content: "";
    border-bottom: 1px solid #333;
    width: 50%;
    height: 120px;
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    margin: auto;
}

.container{
  max-width: 1100px;
  margin: auto;
  padding: 0 60px;
}

#siteHeader{
  min-height: 70px;
  background: var(--app-primary-color);
}

#siteHeader .container{
  position: relative;
  /*height: 100%;*/
}

#siteHeader #brandLogo{
  font-size: 2em;
  height: 80px;
  line-height: 1;
}

#siteHeader a{
  color: #fff;
}

#siteHeader nav{
  position: relative;
  height: 70px;
}

#siteHeader nav a{
  position: relative;
  text-decoration: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

#siteHeader nav a:not(:last-child){
  margin-right: 30px;
}

#siteHeader nav a:hover{}


#banner, .banner{
  background: #f9f9f9;
  height: 100vh;
  height: calc(100vh - 80px);
}

#banner .container, 
.banner .container{
  position: relative;
  height: calc(100% - 6em);
  max-width: 700px;
}

#banner h1,
.banner h1{
  font-size: 4em;
  margin: 0;
  /*padding: 0 2em;*/
}

#banner p,
.banner p{
  margin: 10px 0;
  font-size: 2em;
  font-family: "choplin light"
}


#callCards{
  margin-bottom: 4em;
}

#callCards .cards{
  background: #fff;
  box-shadow: 0 0 60px rgba(0,0,0,0.1);
  padding: 2em;
  min-height: 120px;
  border-radius: 2px;
  margin-top: -5em;
}

#callCards .cards .call-card{
  width: calc(33.333% - 30px);
  min-width: calc(33.333% - 30px);
  position: relative;
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px 0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/*#callCards .cards .call-card:before,*/
#callCards .cards .call-card:after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -25px;
  margin: auto;
  height: 50px;
  width: 50%;
  background: #fff;
}

#callCards .cards .call-card:after{
  content: attr(text);
  top: auto;
  bottom: -25px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.call-card .image{
  height: 180px;
  width: calc(100% - 40px);
  background: #ddd;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  z-index: 1
}


#sampleProductCatalog{
  position: relative;
  overflow: hidden;
}

#sampleProductCatalog #products{
  margin-top: 2em;
}

#sampleProductCatalog .product{
  width: calc(33.333% - 2px);
  min-width: calc(33.333% - 2px);
  height: 280px;
  background: #ddd;
  margin: 1px;
}

#sampleProductCatalog .color-bg{
  position: absolute;
  top: 60%;
  left: 0;
  height: 200%;
  width: 100%;
  background: #f9f9f9;
  z-index: -1;
}


#enquiry{
  padding-top: 3em;
  padding-bottom: 7em;
  background: #f9f9f9;
}

#enquiry form{
  max-width: 700px;
  overflow: hidden;
}

#enquiry input, #enquiry textarea{
  font-size: 1.5em;
  margin: 10px;
  font-family: "Choplin Light";
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

#enquiry input{
  width: 50%;
}

#enquiry #textarea{
  width: 100%;
  flex: 1;
}

#enquiry button{
  background: #000;
  color: #fff;
  font-size: 1.4em;
  border-radius: 3px;
  border: none;
  margin: 10px;
  padding: 20px;
}

footer{
  
}

footer #linksAndContacts{
  padding: 5em 0;
  /*min-height: 400px;*/
}

footer #linksAndContacts #links{
  /*margin-right: 90px;*/
}

footer #linksAndContacts #contacts{
  min-width: 300px;
  padding: 0.5em 2em;
  padding-bottom: 1.2em;
  border: 5px solid #555;
}

footer #linksAndContacts h3{
  font-family: "Brela";
  font-weight: bold !important;
} 

footer #linksAndContacts ul{
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style-type: circle;
}

footer #linksAndContacts ul li{
  margin-bottom: 8px;
}

footer #linksAndContacts ul li a{
  color: #000;
}

footer #linksAndContacts{
  font-family: "Choplin Light"
}

footer #copyright{
  background: #000;
  color: #fff;
  min-height: 70px;
  padding: 10px 0;
}

footer #bottomLogo{
  color: #fff;
  font-size: 1.7em;
}

footer #copyrightText{
  font-family: "Choplin light"
}


/*ABOUT PAGE*/
#aboutPage{
  font-family: "Choplin light";
}

#aboutPage h2{
  font-size: 2em;
}

#aboutPage p{
  font-size: 1.3em;
  line-height: 1.5em;
}

#aboutPage .banner{
  height: auto;
  padding: 9em 0;
  background: #f0f0f0;;
}

#aboutPage .banner h1{
  font-size: 3.5em
}

#aboutPage .banner p{
  font-size: 1.9em
}

#theObvious{
  padding-top: 6em;
}

#theObvious .obvious-item{
  margin: 0 20px;
  min-width: calc(33.333% - 40px);
  position: relative;
}

#theObvious .obvious-item i{
  font-size: 4.6em;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 20%;
  margin: auto;
  text-align: center;
  z-index: -1;
  opacity: 0.1;
}

#theObvious .obvious-item h3{
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 0;
}

#theObvious .obvious-item p{
  font-size: 1em;
  font-family: "Open Sans Light";
}

#companyBackground{
  padding: 8em 0;
  padding-top: 6em;
  padding-right: 2em;
  font-family: "Choplin light"
}

#companyBackground .potrait-image{
  width: 380px;
  height: 320px;
  margin-right: 80px;
  background: #f0f0f0;
  margin-top: 30px;
}

#whatWeDo{
  background: #f0f0f0;
  padding: 6em 16em;
  padding-top: 8em;
}

#whatWeDo h2, #whatWeDo p{
  margin: 5px;
}

#whatWeDo h2{
  font-size: 2.5em;
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-right: 2em;
}

#whatWeDo p{
  font-size: 1.3em;
  display: none;
}

#whatWeDo ul{
  margin-left: 5px;
  padding: 0;
  padding-left: 30px;
  list-style-type: circle;
}

#whatWeDo ul li{
  font-size: 1.8em;
  margin-bottom: 15px;
}

#meetTheTeam{
  padding: 4em 0;
  padding-top: 6em;
}

#meetTheTeam #teamMembers{
  padding: 40px 0;
}

#meetTheTeam .team-member{
  max-width: 50%;
}

#meetTheTeam .team-member .image,
#meetTheTeam .team-member .text{
  height: 150px;
  text-align: left;
}

#meetTheTeam .team-member .image{
  background: #f0f0f0;
  width: 40%;
}

#meetTheTeam .team-member .text{
  padding: 20px;
  padding-top: 10px;
  font-family: "Open Sans Light";
  width: 60%;
}

#meetTheTeam .team-member .text h3{
  margin: 0;
}

#meetTheTeam .team-member .text h5{
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 0.95em;
  color: #999;
}
